/* Reset default margin and padding for the body and html elements */
body, html {
    margin: 30px;
    padding: 0;
  }
  
  /* Align the root container to the left side */
   /* #root {
    display: flex;
    flex-direction: row;
  } 
   */
  